<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start" mode="md">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary" routerLink="/carrito">
      <ion-button>
        <ion-icon
          slot="icon-only"
          ios="cart-outline"
          md="cart-outline"
        ></ion-icon>
        <ion-badge color="danger">1 </ion-badge>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon
          slot="icon-only"
          ios="search-outline"
          md="search-sharp"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Mi pedido
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header mode="ios" collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> Mi pedido </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item slot="start" lines="none">
      <ion-thumbnail slot="start">
        <img src="/assets/card-top-img.png" />
      </ion-thumbnail>
      <ion-label>
        <h1><strong>Nombre comercio -as</strong></h1>
        <p></p>
      </ion-label>
    </ion-item>
    <ion-item slot="start" lines="none">
      <ion-button fill="clear">
        <ion-icon mode="ios" slot="icon-only" name="bicycle"></ion-icon>Envío
        Bs. 10
      </ion-button>
      <ion-button fill="clear">
        <ion-icon mode="ios" slot="icon-only" name="stopwatch"> > </ion-icon
        >10-45 min
      </ion-button>
      <ion-button fill="clear">
        <ion-icon mode="ios" slot="icon-only" name="cash"> > </ion-icon>Bs. 20
        mínimo
      </ion-button>
    </ion-item>
  </ion-list>
  <div *ngFor="let orden of ordenes">
    <div *ngIf="orden.id_pedido==id_pedido">
      <ion-list>
        <ion-item>
          <ion-label>
            <ion-button
              color="danger"
              (click)="decrement(orden.id,orden.precio)"
            >
              <ion-icon name="remove-outline"></ion-icon>
            </ion-button>
            <ion-button color="light">
              <h2>
                {{orden.precio}}
              </h2></ion-button
            >

            <ion-button
              color="success"
              (click)="increment(orden.id,orden.precio)"
            >
              <ion-icon name="add-outline"></ion-icon>
            </ion-button>
          </ion-label>
          <ion-label> Pokémon Yellow </ion-label>
          <p slot="end" color="success">
            <ion-text color="success">Bs. {{orden.id_pedido}}</ion-text>
          </p>
        </ion-item>
      </ion-list>
    </div>
  </div>
  <ion-list>
    <ion-item>
      <ion-label> <h1>Total</h1> </ion-label>
      <p slot="end" color="success">
        <ion-text color="success">Bs. 40</ion-text>
      </p>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer routerLink="/carrito" line="none">
  <ion-toolbar>
    <ion-button mode="ios" expand="block" (click)="confirmar()" shape="round"
      >Continuar</ion-button
    >
  </ion-toolbar>
</ion-footer>
