<app-menu></app-menu>

<!-- product list-->
<div class="row">
    <div class="col-md-12">
        <div class="card-body">
            <h3>Agregar Administrador</h3>
            <form  (ngSubmit)="modificar()">

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="correo">Correo</label>
                            <input [(ngModel)]="administrador.correo" type="text" name="correo" class="form-control" placeholder="Correo"
                                 required />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="telefono">Telefono</label>
                            <input [(ngModel)]="administrador.telefono" type="text" name="telefono" class="form-control" placeholder="Telefono"
                                 required />
                        </div>
                    </div>
                </div>
                
                <br>
                <div class="row">
                    <div class="col align-self-center">
                        <button type="submit" class="btn btn-primary btn-block">
                            Registrar
                        </button>
                    </div>

                </div>

            </form>
        </div>
    </div>
    
</div>