<app-menu></app-menu>
<!-- product list-->
<div class="row">
    <div class="col-md-12">
        <br>
        <h3>Pedidos</h3>

        <div class="row">
            <div class="col-md-6">

                <div class="form-group">
                    <label for="selected"> Porcentaje</label>
                    <input class="form-control" type="text" [(ngModel)]="porcentaje" name="porcentaje">
                </div>
            </div>

            <div class="col-md-6">

                <label for="id_comercio"> Negocio:</label>
                <select class="form-control" (change)="get()" id="id_comercio" [(ngModel)]="id_comercio"
                    name="id_comercio">
                    <option *ngFor="let comercio of comercios" value={{comercio.id}}>
                        {{comercio.nombre}}</option>
                </select>
            </div>
        </div>
        <div class="row">

            <div class="col-md-6">

                <label for="desde"> Desde</label>
                <input class="form-control" (change)="get()" type="date" [(ngModel)]="desde" name="desde">
            </div>
            <div class="col-md-6">

                <label for="hasta"> Hasta</label>
                <input class="form-control" (change)="get()" type="date" [(ngModel)]="hasta" name="hasta">

            </div>
        </div>

    </div>
</div>
<br>


<table class="table table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col" class="text-center">Nit</th>
            <th scope="col" class="text-center">Razon Social</th>
            <th scope="col" class="text-center">Fecha</th>
            <th scope="col" class="text-center">Total</th>
            <th scope="col" class="text-center">Ganacia</th>

        </tr>
    </thead>

    <tbody>

        <tr *ngFor="let pedido of pedidos | pedido: filtertext: selected">
            <th class="text-center">{{pedido.nit}}</th>
            <th class="text-center">{{pedido.razonSocial}}</th>
            <th class="text-center">{{pedido.created_at}}</th>
            <th class="text-center">{{pedido.total}}</th>
            <th class="text-center">{{pedido.total*porcentaje/100}}</th>

        </tr>
        <tr>
            <th COLSPAN="3" class="text-center">Total</th>
            <th class="text-center">{{total}}</th>
            <th class="text-center">{{total*porcentaje/100}}</th>
        </tr>
    </tbody>

</table>

