<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start" mode="md">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>
      Confirmar pedido
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header mode="ios" collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Confirmar pedido</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list mode="ios">
    <ion-item slot="start" lines="none">
      <ion-thumbnail slot="start">
        <img src="/assets/card-top-img.png" />
      </ion-thumbnail>
      <ion-label>
        <h1><strong>Nombre comercio -as</strong></h1>
        <p></p>
      </ion-label>
    </ion-item>
    <ion-item slot="start" lines="none">
      <ion-button fill="clear">
        <ion-icon mode="ios" slot="icon-only" name="bicycle"></ion-icon>Envío
        Bs. 10
      </ion-button>
      <ion-button fill="clear">
        <ion-icon mode="ios" slot="icon-only" name="stopwatch"> > </ion-icon
        >10-45 min
      </ion-button>
      <ion-button fill="clear">
        <ion-icon mode="ios" slot="icon-only" name="cash"> > </ion-icon>Bs. 20
        mínimo
      </ion-button>
    </ion-item>
  </ion-list>
  <ion-list mode="ios">
    <ion-item>
      <ion-label> <h2>Sub total</h2> </ion-label>
      <p slot="end" color="success">
        <ion-text color="success">Bs. 40</ion-text>
      </p>
    </ion-item>
    <ion-item>
      <ion-label> <p>Delivery</p> </ion-label>
      <p slot="end" color="success">
        <ion-text color="success">Bs. 10</ion-text>
      </p>
    </ion-item>
    <ion-item>
      <ion-label> <h2>Total</h2> </ion-label>
      <p slot="end" color="success">
        <ion-text color="success">Bs. 50</ion-text>
      </p>
    </ion-item>
  </ion-list>
  <ion-list mode="ios">
    <ion-list-header>
      Detalles de la entrega
    </ion-list-header>
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="razonSocial"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Ci/NIT</ion-label>
      <ion-input [(ngModel)]="nit"></ion-input>
    </ion-item>
  </ion-list>
  <ion-list mode="ios">
    <ion-list-header>
      ¿Quieres aclarar algo?
    </ion-list-header>
    <ion-item>
      <ion-input
        [(ngModel)]="nota"
        placeholder="Nota para el pedido"
      ></ion-input>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer line="none" (click)="presentAlertConfirm()">
  <ion-toolbar>
    <ion-button mode="ios" expand="block" shape="round"
      >Confirmar pedido</ion-button
    >
  </ion-toolbar>
</ion-footer>
