<app-menu></app-menu>

<!-- product list-->
<div class="row">
    <div class="col-md-6">
        <div class="card-body">
            <h3>Agregar Administrador</h3>
            <form [formGroup]="formGroup" (ngSubmit)="save()">

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="correo">Correo</label>
                            <input type="text" name="correo" class="form-control" placeholder="Correo"
                                formControlName="correo" required />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="password">Contraseña</label>
                            <input type="text" name="password" class="form-control" placeholder="Contraseña"
                                formControlName="password" required />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="telefono">Telefono</label>
                            <input type="text" name="telefono" class="form-control" placeholder="Telefono"
                                formControlName="telefono" required />
                        </div>
                    </div>
                </div>
                
                <br>
                <div class="row">
                    <div class="col align-self-center">
                        <button type="submit" class="btn btn-primary btn-block">
                            Registrar
                        </button>
                    </div>

                </div>

            </form>
        </div>
    </div>
    <div class="col-md-6">
        <br>
        <h3>Administradores</h3>
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" class="text-center">Correo</th>
                    <th scope="col" class="text-center">Editar</th>
                    <th scope="col" class="text-center">Eliminar</th>

                </tr>
            </thead>

            <tbody>

                <tr *ngFor="let administrador of administradores | paginate: { itemsPerPage: 5, currentPage: p }">
                    <th class="text-center">{{administrador.correo}}</th>
                    <td class="text-center"><a class="btn btn-info btn-sm"
                            routerLink="/modificarAdministrador/{{administrador.id}}">Ver-Editar</a></td>
                    <td class="text-center"><a class="btn btn-danger btn-sm"
                            (click)="eliminar(administrador.id)">Eliminar</a></td>
                </tr>

            </tbody>

        </table>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>

    </div>
</div>