<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start" mode="md">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary" routerLink="/carrito">
      <ion-button>
        <ion-icon
          slot="icon-only"
          ios="cart-outline"
          md="cart-outline"
        ></ion-icon>
        <ion-badge color="danger">1 </ion-badge>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon
          slot="icon-only"
          ios="search-outline"
          md="search-sharp"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Pedidos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header mode="ios" collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> Pedidos </ion-title>
    </ion-toolbar>
  </ion-header>
  <div *ngFor="let pedido of pedidos">
    <div *ngIf="pedido.id_cliente == id_client">
      <div *ngIf="pedido.id_estado==1">
        <ion-list>
          <ion-item>
            <ion-label>Pedido número: <strong>{{pedido.id}}</strong></ion-label>
            <ion-badge *ngIf="pedido.id_estado==1" color="warning" slot="end"
              >Espera</ion-badge
            >
          </ion-item>
        </ion-list>
      </div>
    </div>
  </div>
</ion-content>
