<ion-header mode="ios">
  <ion-toolbar>
    <ion-button fill="clear" (click)="back()">
      <ion-icon slot="start" name="arrow-back-outline" color="dark"></ion-icon>
    </ion-button>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon
          slot="icon-only"
          ios="search-outline"
          md="search-sharp"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{nombre}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header mode="ios" collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> {{nombre}} </ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-searchbar mode="ios"></ion-searchbar>
    </ion-toolbar>
  </ion-header>
  <div *ngFor="let comercio of mostrar">
    <div *ngIf="comercio.id_tipoComercio == id">
      <ion-card
        routerLink="/platos/{{comercio.id}}/{{comercio.nombre}}/{{comercio.fotoLogo}}/{{comercio.fotoBaner}}/{{comercio.envio}}/{{comercio.precioMinimo}}/{{comercio.latitud}}/{{comercio.longitud}}"
      >
        <img class="header-img" src="/assets/card-top-img.png" />

        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img src="/assets/card-top-img.png" />
          </ion-thumbnail>

          <ion-label>
            <h2><strong>{{comercio.nombre}}</strong></h2>
            <div>
              <ion-button fill="clear">
                <ion-icon mode="ios" name="bicycle"></ion-icon>
                Envío Bs. {{comercio.envio}}
              </ion-button>
              <ion-button slot="end" size="small">Abierto</ion-button>
            </div>
          </ion-label>
        </ion-item>

        <ion-card-content> </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
