<ion-header>
  <ion-toolbar>
    <ion-title>comercios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="action-card">
    <img class="header-img" src="/assets/card-top-img.png" />
    <ion-card-header>
      <ion-card-title>Restaurant</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Descripcion Destaurtanr Here's a small
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button size="small">open</ion-button>
          </ion-col>
          <ion-col>
            <ion-button fill="clear">
              <ion-icon
                mode="ios"
                slot="icon-only"
                name="stopwatch-outline"
              ></ion-icon>
              10bs</ion-button
            >
            <ion-button fill="clear">
              <ion-icon mode="ios" slot="icon-only" name="bicycle-outline">
                > </ion-icon
              >10-45
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
