.my-custom-class {
  --background: #e5e5e5;
}
.alert-wrapper {
  background: #e5e5e5;
}

/* Works - pass "my-custom-class" in cssClass to increase specificity */
.my-custom-class .alert-wrapper {
  background: #e5e5e5;
}
.item ion-thumbnail {
  min-width: 5rem;
  min-height: 5rem;
  img {
    max-width: 5rem;
    min-width: 5rem;
  }
}
