<ion-content>
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <div class="center">
    <img class="header-img" src="/assets/banner.png" />
  </div>
  <hr />
  <hr />
  <form>
    <ion-item>
      <ion-label position="floating">Correo</ion-label>
      <ion-input type="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
    <hr />
    <hr />
    <ion-button
      mode="ios"
      expand="block"
      type="submit"
      shape="round"
      (click)="onSubmit()"
      >Iniciar sesión</ion-button
    >
    <p slot="end" color="primary">Olvidó su contraseña?</p>
    <hr />
    <hr />
    <hr />
    <hr />
    <ion-button
      mode="ios"
      expand="block"
      type="submit"
      shape="round"
      fill="outline"
    >
      <ion-icon name="logo-whatsapp" slot="start"></ion-icon
      >Contactanos</ion-button
    >
  </form>
</ion-content>
