<app-menu></app-menu>
<!-- product list-->
<div class="row">
    <div class="col-md-12">
        <br>
        <h3>Pedidos</h3>

        


        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" class="text-center">Comercio</th>
                    <th scope="col" class="text-center">Nit</th>
                    <th scope="col" class="text-center">Razon Social</th>
                    <th scope="col" class="text-center">Cliente</th>
                    <th scope="col" class="text-center">Conductor</th>
                    <th scope="col" class="text-center">Estado</th>
                    <th scope="col" class="text-center">Ver</th>

                </tr>
            </thead>

            <tbody>

                <tr
                    *ngFor=" let pedido of pedidos | paginate: { itemsPerPage: 10, currentPage: p } | pedido: filtertext: selected">
                    <th class="text-center">{{pedido.comercio}}</th>
                    <th class="text-center">{{pedido.nit}}</th>
                    <th class="text-center">{{pedido.razonSocial}}</th>
                    <th class="text-center">{{pedido.cliente}}</th>
                    <th class="text-center">{{pedido.conductor}}</th>
                    <th class="text-center">{{pedido.estado}}</th>
                    <td class="text-center"><a class="btn btn-info btn-sm"
                        routerLink="/modificarPedido/{{pedido.id}}">Ver-Editar</a></td>
                </tr>

            </tbody>

        </table>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>

    </div>
</div>

