<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start" mode="md">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon
          slot="icon-only"
          ios="search-outline"
          md="search-sharp"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Detalles </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header mode="ios" collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> Detalles </ion-title>
    </ion-toolbar>
  </ion-header>

  <img class="header-img" src="/assets/card-top-img.png" />
  <ion-list *ngFor="let combo of combos">
    <ion-item slot="start" lines="none">
      <ion-label>
        <h1>{{combo.nombre}}</h1>
        <p>Bs. {{combo.precio}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-item>
    <ion-textarea
      [(ngModel)]="descripcion"
      placeholder="Enter a description"
    ></ion-textarea>
  </ion-item>
  <hr />
  <hr />
  <ion-list style="text-align: center;" mode="ios">
    <ion-button color="danger" (click)="decrement()" *ngIf="currentNumber > 1">
      <ion-icon name="remove-outline"></ion-icon>
    </ion-button>
    <ion-button color="light">
      <h2>
        {{currentNumber}}
      </h2></ion-button
    >

    <ion-button color="success" (click)="increment()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-button>
  </ion-list>
  <hr />
  <hr />
  <hr />
  <hr />
  <ion-button
    mode="ios"
    expand="block"
    type="submit"
    shape="round"
    (click)="verificar()"
    >Agregar Bs. {{total}}
    <ion-back-button></ion-back-button>
  </ion-button>
</ion-content>
