<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start" mode="md">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title> Información </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header mode="ios" collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> Información </ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="map1"></div>
  <ion-list>
    <ion-list-header mode="ios"> {{nombre}} </ion-list-header>
    <ion-item slot="start" lines="none">
      <ion-thumbnail slot="start">
        <img src="{{servidor}}/imagenes/{{ fotoLogo }}" />
      </ion-thumbnail>
      <ion-label>
        <div>
          <ion-button fill="clear">
            <ion-icon mode="ios" slot="icon-only" name="cash-outline">
              > </ion-icon
            >Minímo: BS. {{precioMinimo}}
          </ion-button>
        </div>

        <ion-button fill="clear">
          <ion-icon mode="ios" slot="icon-only" name="stopwatch-outline">
            > </ion-icon
          >Tiempo: {{tiempo}}-{{tiempo+10}} min
        </ion-button>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header mode="ios"> Horarios </ion-list-header>
    <ion-item>
      <ion-label>Lunes</ion-label>
      <p slot="end" color="success">
        <ion-text color="success">{{horarioEnt}}-{{horarioSal}}</ion-text>
      </p>
    </ion-item>
    <ion-item>
      <ion-label>Martes</ion-label>
      <p slot="end" color="success">
        <ion-text color="success">{{horarioEnt}}-{{horarioSal}}</ion-text>
      </p>
    </ion-item>
    <ion-item>
      <ion-label>Miercoles</ion-label>
      <p slot="end" color="success">
        <ion-text color="success">{{horarioEnt}}-{{horarioSal}}</ion-text>
      </p>
    </ion-item>
    <ion-item>
      <ion-label>Jueves</ion-label>
      <p slot="end" color="success">
        <ion-text color="success">{{horarioEnt}}-{{horarioSal}}</ion-text>
      </p>
    </ion-item>
    <ion-item>
      <ion-label>Viernes</ion-label>
      <p slot="end" color="success">
        <ion-text color="success">{{horarioEnt}}-{{horarioSal}}</ion-text>
      </p>
    </ion-item>
    <ion-item>
      <ion-label>Sabado</ion-label>
      <p slot="end" color="success">
        <ion-text color="success">{{horarioEnt}}-{{horarioSal}}</ion-text>
      </p>
    </ion-item>
    <ion-item>
      <ion-label>Domingo</ion-label>
      <p slot="end" color="success">
        <ion-text color="success">{{horarioEnt}}-{{horarioSal}}</ion-text>
      </p>
    </ion-item>
  </ion-list>
</ion-content>
