<app-menu></app-menu>

<!-- product list-->
<div class="row">
    <div class="col-md-6">
        <div class="card-body">
            <h3>Agregar Conductor</h3>
            <form [formGroup]="formGroup" (ngSubmit)="save()">

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="pNombre">Primer Nombre</label>
                            <input type="text" name="pNombre" class="form-control" placeholder="Primer Nombre"
                                formControlName="pNombre" required />
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="sNombre">Segundo Nombre</label>
                            <input type="text" name="sNombre" class="form-control" placeholder="Segundo Nombre"
                                formControlName="sNombre" required />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="pApellido">Primer Apellido</label>
                            <input type="text" name="pApellido" class="form-control" placeholder="Primer Apellido"
                                formControlName="pApellido" required />
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="sApellido">Segundo Apellido</label>
                            <input type="text" name="sApellido" class="form-control" placeholder="Segundo Apellido"
                                formControlName="sApellido" required />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="fechaNacimiento">Fecha Nacimiento</label>
                            <input type="date" name="fechaNacimiento" class="form-control" placeholder="Nombre"
                                formControlName="fechaNacimiento" required />
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="telefono">Telefono</label>
                            <input type="text" name="telefono" class="form-control" placeholder="Telefono"
                                formControlName="telefono" required />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="direccion">Direccion</label>
                            <input type="text" name="direccion" class="form-control" placeholder="Direccion"
                                formControlName="direccion" required />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="correo">Correo</label>
                            <input type="text" name="correo" class="form-control" placeholder="Correo"
                                formControlName="correo" required />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="password">Contraseña</label>
                            <input type="text" name="password" class="form-control" placeholder="Contraseña"
                                formControlName="password" required />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="foto">Foto Conductor</label>
                            <input type="file" (change)="onFileChange($event)" name="foto" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="fotoVehiculo">Foto Vehiculo</label>
                            <input type="file" (change)="onFileChanges($event)" name="fotoVehiculo" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="modelo">Modelo</label>
                            <input type="text" name="modelo" class="form-control" placeholder="Modelo"
                                formControlName="modelo" required />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="tipoVehiculo">Tipo Vehiculo</label>
                            <input type="text" name="tipoVehiculo" class="form-control" placeholder="Tipo Vehiculo"
                                formControlName="tipoVehiculo" required />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="color">Color</label>
                            <input type="text" name="color" class="form-control" placeholder="Color"
                                formControlName="color" required />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="año">Año</label>
                            <input type="text" name="año" class="form-control" placeholder="Año"
                                formControlName="año" required />
                        </div>
                    </div>
                </div>
  
                
                <br>
                <div class="row">
                    <div class="col align-self-center">
                        <button type="submit" class="btn btn-primary btn-block">
                            Registrar
                        </button>
                    </div>

                </div>
            </form>
        </div>
    </div>
    <div class="col-md-6">
        <br>
        <h3>Conductores</h3>
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" class="text-center">Correo</th>
                    <th scope="col" class="text-center">Foto</th>
                    <th scope="col" class="text-center">Editar</th>
                    <th scope="col" class="text-center">Eliminar</th>

                </tr>
            </thead>

            <tbody>

                <tr *ngFor="let conductor of conductores | paginate: { itemsPerPage: 5, currentPage: p }">
                    <th class="text-center">{{conductor.correo}}</th>
                    <th class="text-center">
                        <img width="80px" src="http://134.122.18.6/imagenes/{{conductor.foto}}" alt="">
                    </th>
                    <td class="text-center"><a class="btn btn-info btn-sm"
                            routerLink="/modificarConductor/{{conductor.id}}">Ver-Editar</a></td>
                    <td class="text-center"><a class="btn btn-danger btn-sm"
                            (click)="eliminar(conductor.id)">Eliminar</a></td>
                </tr>

            </tbody>

        </table>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>

    </div>
</div>