<ion-header mode="ios">
  <ion-toolbar translucent>
    <ion-buttons slot="start" mode="md" *ngIf="!pedido">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-button fill="clear" (click)="back()" *ngIf="pedido">
      <ion-icon slot="start" name="arrow-back-outline" color="dark"></ion-icon>
    </ion-button>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon
          slot="icon-only"
          ios="search-outline"
          md="search-sharp"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{nombre}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header mode="ios" collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> {{nombre}}</ion-title>
      <ion-buttons slot="end" routerLink="/detallecomercio/{{id}}">
        <ion-button>
          <ion-icon
            slot="icon-only"
            ios="alert-circle"
            md="alert-circle"
          ></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <img class="position" src="/assets/card-top-img.png" />
  <ion-list>
    <ion-item slot="start" lines="none">
      <ion-thumbnail slot="start">
        <img src="/assets/card-top-img.png" />
      </ion-thumbnail>
      <ion-label>
        <div>
          <ion-button fill="clear">
            <ion-icon mode="ios" slot="icon-only" name="cash-outline">
              > </ion-icon
            >Minímo: BS. {{precioMinimo}}
          </ion-button>
        </div>

        <ion-button fill="clear">
          <ion-icon
            mode="ios"
            slot="icon-only"
            name="bicycle-outline"
          ></ion-icon
          >Envío: bs. {{envio}}</ion-button
        >
        <ion-button fill="clear">
          <ion-icon mode="ios" slot="icon-only" name="stopwatch-outline">
            > </ion-icon
          >{{tiempo}}-{{extra}} min
        </ion-button>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-segment
    value="productos"
    color="primary"
    scrollable="true"
    mode="md"
    [(ngModel)]="segmentModel"
    (ionChange)="segmentChanged($event)"
  >
    <ion-segment-button value="productos">
      <ion-label>Combos</ion-label>
    </ion-segment-button>
    <ion-segment-button value="promociones">
      <ion-label>Promociones</ion-label>
    </ion-segment-button>
  </ion-segment>
  <div *ngIf="segmentModel === 'productos'">
    <ion-searchbar mode="ios"></ion-searchbar>

    <div *ngFor="let combo of combos">
      <div *ngIf="combo.id_comercio == id">
        <ion-list>
          <ion-item routerLink="/detalleproducto/{{combo.id}}">
            <ion-thumbnail slot="end">
              <img src="{{servidor}}/imagenes/{{ combo.foto }}" />
            </ion-thumbnail>
            <ion-label>
              <h2><strong>{{combo.nombre}}</strong></h2>
              <h2>{{combo.descripcion}}</h2>
              <h2>Precio: Bs. {{combo.precio}}</h2>
            </ion-label>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </div>
  <ion-list *ngIf="segmentModel === 'promociones'"></ion-list>
</ion-content>
<ion-footer (click)="presentModal()" class="myColor" line="none" *ngIf="pedido">
  <ion-toolbar>
    <ion-button mode="ios" expand="full" type="submit">
      <ion-icon name="cart" slot="start"></ion-icon>

      MI PEDIDO
    </ion-button>
  </ion-toolbar>
</ion-footer>
