<ion-header mode="ios">
  <ion-toolbar translucent>
    <ion-buttons slot="start" mode="md" *ngIf="!pedido">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-button fill="clear" (click)="back()" *ngIf="pedido">
      <ion-icon slot="start" name="arrow-back-outline" color="dark"></ion-icon>
    </ion-button>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon
          slot="icon-only"
          ios="search-outline"
          md="search-sharp"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{nombre}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header mode="ios" collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> {{nombre}}</ion-title>
      <ion-buttons slot="end" routerLink="/detallecomercio/{{id}}">
        <ion-button>
          <ion-icon
            slot="icon-only"
            ios="alert-circle"
            md="alert-circle"
          ></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <img class="position" src="{{servidor}}/imagenes/{{ fotoBaner }}" />
  <ion-list>
    <ion-item slot="start" lines="none">
      <ion-thumbnail slot="start">
        <img src="{{servidor}}/imagenes/{{ fotoLogo}}" />
      </ion-thumbnail>
      <ion-label>
        <div>
          <ion-button fill="clear">
            <ion-icon mode="ios" slot="icon-only" name="cash-outline">
              > </ion-icon
            >Minímo: BS. {{precioMinimo}}
          </ion-button>
        </div>

        <ion-button fill="clear">
          <ion-icon
            mode="ios"
            slot="icon-only"
            name="bicycle-outline"
          ></ion-icon
          >Envío: bs. {{envioTotal}}</ion-button
        >
        <ion-button fill="clear">
          <ion-icon mode="ios" slot="icon-only" name="stopwatch-outline">
            > </ion-icon
          >{{tiempo}}-{{extra}}
        </ion-button>
      </ion-label>
    </ion-item>
  </ion-list>

  <div>
    <ion-searchbar
      showCancelButton="focus"
      cancelButtonText="Cancelar"
      mode="ios"
      placeholder="Buscar..."
      type="text"
      debounce="500"
      (ionChange)="getItems($event)"
    ></ion-searchbar>

    <div *ngFor="let combo of combos">
      <div *ngIf="combo.id_comercio == id">
        <ion-list>
          <ion-item routerLink="/detalleproducto/{{combo.id}}">
            <ion-thumbnail slot="end">
              <img src="{{servidor}}/imagenes/{{ combo.foto }}" />
            </ion-thumbnail>
            <ion-label>
              <h2><strong>{{combo.nombre}}</strong></h2>
              <h2>{{combo.descripcion}}</h2>
              <h2>Precio: Bs. {{combo.precio}}</h2>
            </ion-label>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </div>

  <div *ngIf="!combos">
    <ion-list>
      <ion-list-header>
        <ion-label>
          <ion-skeleton-text animated style="width: 20%;"></ion-skeleton-text>
        </ion-label>
      </ion-list-header>
      <ion-item>
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%;"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%;"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-skeleton-text
          animated
          style="width: 27px; height: 27px;"
          slot="start"
        ></ion-skeleton-text>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%;"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
<ion-footer (click)="presentModal()" class="myColor" line="none" *ngIf="pedido">
  <ion-toolbar>
    <ion-button mode="ios" expand="full" type="submit">
      <ion-icon name="cart" slot="start"></ion-icon>

      MI PEDIDO
    </ion-button>
  </ion-toolbar>
</ion-footer>
