<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Mi Datos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header mode="ios" collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> Mi Datos</ion-title>
    </ion-toolbar>
  </ion-header>

  <img class="header-img" src="/assets/card-top-img.png" />
  <ion-item>
    <ion-label position="stacked">Correo</ion-label>
    <ion-input
      type="email"
      placeholder="Email"
      [(ngModel)]="corrreo"
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Celular</ion-label>
    <ion-input placeholder="telefono" [(ngModel)]="telefono"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Nombre</ion-label>
    <ion-input placeholder="nombre" [(ngModel)]="nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Envío</ion-label>
    <ion-input placeholder="envio" [(ngModel)]="envio"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Dirección</ion-label>
    <ion-input placeholder="direccion" [(ngModel)]="direccion"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Referencia</ion-label>
    <ion-input [(ngModel)]="referencia"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Mínimo de compra (BS.)</ion-label>
    <ion-input
      placeholder="precioMinimo"
      [(ngModel)]="precioMinimo"
    ></ion-input>
  </ion-item>
  <ion-button
    mode="ios"
    expand="block"
    type="submit"
    shape="round"
    fill="outline"
  >
    Actualizar información</ion-button
  >

  <div *ngIf="!nombre">
    <div class="ion-padding custom-skeleton">
      <ion-skeleton-text animated style="width: 60%;"></ion-skeleton-text>
      <ion-skeleton-text animated></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 88%;"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 70%;"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 60%;"></ion-skeleton-text>
    </div>
    <div class="ion-padding custom-skeleton">
      <ion-skeleton-text animated style="width: 60%;"></ion-skeleton-text>
      <ion-skeleton-text animated></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 88%;"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 70%;"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 60%;"></ion-skeleton-text>
    </div>
    <div class="ion-padding custom-skeleton">
      <ion-skeleton-text animated style="width: 60%;"></ion-skeleton-text>
      <ion-skeleton-text animated></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 88%;"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 70%;"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 60%;"></ion-skeleton-text>
    </div>
    <div class="ion-padding custom-skeleton">
      <ion-skeleton-text animated style="width: 60%;"></ion-skeleton-text>
      <ion-skeleton-text animated></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 88%;"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 70%;"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 60%;"></ion-skeleton-text>
    </div>
  </div>
</ion-content>
