<ion-header mode="ios">
  <ion-toolbar>
    <ion-title>
      Mi información
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header mode="ios" collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> Mi información</ion-title>
    </ion-toolbar>
  </ion-header>

  <img class="header-img" src="/assets/card-top-img.png" />
  <ion-input placeholder="Enter Input"></ion-input>
  <ion-input placeholder="Enter Input"></ion-input>
  <ion-input placeholder="Enter Input"></ion-input>
</ion-content>
