<ion-content padding>
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <div class="center">
    <img class="header-img" src="/assets/banner.png" />
  </div>
  <hr />
  <hr />
  <ion-item lines="none">
    <ion-label>+591 </ion-label>

    <ion-input
      clearInput
      type="number"
      placeholder="Número de celular"
      [(ngModel)]="number"
    >
    </ion-input>
  </ion-item>

  <hr />
  <hr />
  <hr />
  <ion-button
    mode="ios"
    expand="block"
    type="submit"
    shape="round"
    (click)="enviarMensaje()"
    >Enviar</ion-button
  >
</ion-content>
