<ion-content>
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <hr />
  <div class="center">
    <img class="header-img" src="/assets/banner.png" />
  </div>
  <hr />
  <hr />
  <ion-item lines="none">
    <ion-label position="stacked">Número de celular</ion-label>
    <ion-input
      type="number"
      placeholder="Ingrese su número"
      [(ngModel)]="number"
    >
    </ion-input>
  </ion-item>
  <hr />
  <hr />
  <hr />
  <ion-button
    mode="ios"
    expand="block"
    type="submit"
    shape="round"
    (click)="enviarMensaje()"
    >Enviar</ion-button
  >
</ion-content>
