<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start" mode="md">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Pedido: {{id_pedido}}
    </ion-title>
    <ion-button slot="end" size="small" routerLink="/orden/{{id_pedido}}"
      >Ver orden</ion-button
    >
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header mode="ios" collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Pedido: {{id_pedido}}</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-title mode="md">Cliente: {{telefono}}</ion-title>
      <ion-button
        fill="clear"
        slot="end"
        href="https://api.whatsapp.com/send?phone=591{{telefono}}"
      >
        <ion-icon slot="icon-only" name="logo-whatsapp"> </ion-icon>
      </ion-button>
    </ion-toolbar>
    <ion-toolbar>
      <ion-title mode="md">Conductor: {{conductorTelefono}}</ion-title>
      <ion-button
        fill="clear"
        slot="end"
        href="https://api.whatsapp.com/send?phone=591{{conductorTelefono}}"
      >
        <ion-icon slot="icon-only" name="logo-whatsapp"> </ion-icon>
      </ion-button>
    </ion-toolbar>
  </ion-header>
  <div id="map1"></div>
  <ion-list> </ion-list>
  <ion-list>
    <ion-list-header>
      <h2>Pedido</h2>
    </ion-list-header>
    <ion-item>
      <ion-label> Precio pedido </ion-label>
      <p slot="end" color="success">
        <ion-text>Bs. {{total}}</ion-text>
      </p>
    </ion-item>
    <ion-item>
      <ion-label> Precio delivery </ion-label>
      <p slot="end" color="success">
        <ion-text>Bs. {{pedidoDelivery}}</ion-text>
      </p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-label> <h1>Total</h1> </ion-label>
      <p slot="end" color="success">
        <ion-text color="success">Bs. {{totalfin}}</ion-text>
      </p>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Razón Social</h2>
        <p>{{razon_social}}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>NIT</h2>
        <p>{{nit}}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Nota del pedido</h2>
        <p>{{nota}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
