<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start" mode="md">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Orden
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header mode="ios" collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Orden</ion-title>
    </ion-toolbar>
  </ion-header>
  <div *ngFor="let orden of ordenes">
    <div *ngIf="orden.id_pedido == id">
      <ion-list>
        <ion-item>
          <ion-label>
            <h2>{{orden.nombre}}</h2>
            <p>Descrip´cion de la orden wapo</p>
          </ion-label>
          <p slot="end">x {{orden.precio}}</p>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
