<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu" mode="ios"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="primary" routerLink="/carrito">
      <ion-button>
        <ion-icon
          slot="icon-only"
          ios="cart-outline"
          md="cart-outline"
        ></ion-icon>
        <ion-badge *ngIf="c>0" color="danger">{{c}} </ion-badge>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon
          slot="icon-only"
          ios="search-outline"
          md="search-sharp"
        ></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      <ion-select interface="popover">
        <ion-select-option value="nes">NES12321</ion-select-option>
        <ion-select-option value="n64">Nintendo64</ion-select-option>
        <ion-select-option value="ps">PlayStation</ion-select-option>
      </ion-select>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides
    class="slide-padding"
    pager="true"
    (ionSlideDidChange)="slideChanged()"
  >
    <ion-slide *ngFor="let story of topStories">
      <div class="container">
        <ion-img src="{{story.picture}}"></ion-img>
      </div>
    </ion-slide>
  </ion-slides>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{nombre}}, qué desea pedir?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="4" *ngFor="let tipocomercio of tipocomercios">
            <ion-img
              src="/assets/logo-amtrak.png"
              routerLink="/comercios/{{tipocomercio.id}}/{{tipocomercio.nombre}}"
            ></ion-img>
            <p>{{tipocomercio.nombre}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Promociones</ion-card-title>
    </ion-card-header>
    <ion-slides class="slide-padding" pager="true">
      <ion-slide *ngFor="let story of topStories">
        <div class="container">
          <ion-img src="{{story.picture}}"></ion-img>
        </div>
      </ion-slide>
    </ion-slides>
  </ion-card>
</ion-content>
