.container {
  position: relative;
  width: 100%;
}

.slidetitle {
  position: absolute;
  bottom: 60px;
  left: 18px;
  color: white;
  text-align: left;
  font-family: "Libre Baskerville", serif;
}

.block {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 4px;
}

.author {
  position: absolute;
  bottom: 25px;
  left: 20px;
  color: rgb(240, 240, 240);
  font-size: 15px !important;
  font-weight: 300;
  text-shadow: 1px 1px 3px #000000;
}

.sub-headers {
  padding-left: 20px;
  text-align: center;
  font-weight: bold;
}
